n8n-workflows/linkedin-notion-posting.json
{"name":"LinkedIn Notion Posting","nodes":[{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"merge-node","name":"Merge","type":"n8n-nodes-base.merge","position":[912,144],"typeVersion":2.1},{"parameters":{"content":"## Daily run","height":120,"color":4},"id":"note-schedule","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-464,128],"typeVersion":1},{"parameters":{"rule":{"interval":[{"triggerAtHour":15}]}},"id":"schedule","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-176,144],"typeVersion":1.2},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"<YOUR_NOTION_DATABASE_ID>","mode":"id"},"limit":1,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"flow_status|multi_select","condition":"contains","multiSelectValue":"START"}]},"options":{}},"id":"notion-getall","name":"Notion - Get item (START)","type":"n8n-nodes-base.notion","position":[48,144],"typeVersion":2.2,"credentials":{"notionApi":{"id":"<CREDENTIAL_ID>","name":"Notion API (your name)"}}},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.url }}","mode":"url"}},"id":"notion-get","name":"Notion - Get page","type":"n8n-nodes-base.notion","position":[240,144],"typeVersion":2.2,"credentials":{"notionApi":{"id":"<CREDENTIAL_ID>","name":"Notion API (your name)"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"property_content"}]},"options":{}},"id":"aggregate","name":"Aggregate blocks","type":"n8n-nodes-base.aggregate","position":[448,144],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Rewrite the following text so that it is clean, natural, and ready to be posted on LinkedIn.\n- Only output the final LinkedIn post.\n- Remove code blocks and technical formatting.\n- Keep clear language and short paragraphs.\n\nText: {{ $json['property_content'][0] }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1344,144],"id":"rewrite","name":"LLM - Rewrite"},{"parameters":{"model":"deepseek-r1-distill-llama-70b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1280,368],"id":"groq-model","name":"Groq Chat Model","credentials":{"groqApi":{"id":"<CREDENTIAL_ID>","name":"Groq API (your name)"}}},{"parameters":{"assignments":{"assignments":[{"id":"hasImage","name":"hasImage","value":"=\"{{ !!$binary.data }}\"","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,144],"id":"set-fields","name":"Set Fields"},{"parameters":{"person":"<YOUR_LINKEDIN_PERSON_URN_OR_CONFIGURE_IN_NODE>","text":"={{ $json[\"Name\"] }}\n\n{{ $json[\"property_content\"][0] }}\n\n{{ $json[\"Keywords\"] }}","shareMediaCategory":"IMAGE","binaryPropertyName":"=data","additionalFields":{}},"id":"linkedin-publish","name":"Publish on LinkedIn","type":"n8n-nodes-base.linkedIn","position":[1792,144],"typeVersion":1,"credentials":{"linkedInOAuth2Api":{"id":"<CREDENTIAL_ID>","name":"LinkedIn OAuth2 (your name)"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion - Get page').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"flow_status|multi_select","multiSelectValue":["DONE LINKEDIN"]}]},"options":{}},"id":"notion-update","name":"Notion - Set DONE","type":"n8n-nodes-base.notion","position":[2048,144],"typeVersion":2.2,"credentials":{"notionApi":{"id":"<CREDENTIAL_ID>","name":"Notion API (your name)"}}},{"parameters":{"language":"python","pythonCode":"# placeholder transform\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()"},"id":"format","name":"Format (optional)","type":"n8n-nodes-base.code","position":[672,48],"typeVersion":2},{"parameters":{"content":"## Optional image path","height":140,"color":6},"id":"note-image","name":"Sticky Note (Image)","type":"n8n-nodes-base.stickyNote","position":[-80,480],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Generate a clean English image prompt (no text in image).\nText: {{ $json.property_content[0] }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-80,560],"id":"image-prompt","name":"LLM - Image prompt"},{"parameters":{"model":"deepseek-r1-distill-llama-70b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[0,752],"id":"groq-model-image","name":"Groq Chat Model (image)","credentials":{"groqApi":{"id":"<CREDENTIAL_ID>","name":"Groq API (your name)"}}},{"parameters":{"method":"POST","url":"https://api.freepik.com/v1/ai/text-to-image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"=<YOUR_FREEPIK_API_KEY>"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"={{ $json['text'] }}"},{"name":"num_images","value":"=1"},{"name":"image.size","value":"widescreen_16_9"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,608],"id":"freepik","name":"Freepik (optional)"},{"parameters":{"operation":"toBinary","sourceProperty":"data[0].base64","options":{"mimeType":"image/webp"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[608,608],"id":"to-binary","name":"To Binary"},{"parameters":{"operation":"information"},"id":"img-info","name":"Image Info","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[752,464]},{"parameters":{"operation":"resize","width":"={{ $json['size']['width'] > 1200 ? 1200 : $json['size']['width'] }}","height":"={{ $json['size']['height'] > 630 ? 630 : $json['size']['height'] }}","resizeOption":"onlyIfLarger","options":{"format":"webp"}},"id":"resize","name":"Resize","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1040,528]}],"pinData":{},"connections":{"Merge":{"main":[[{"node":"Set Fields","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Notion - Get item (START)","type":"main","index":0}]]},"Notion - Get item (START)":{"main":[[{"node":"Notion - Get page","type":"main","index":0}]]},"Notion - Get page":{"main":[[{"node":"Aggregate blocks","type":"main","index":0}]]},"Aggregate blocks":{"main":[[{"node":"Format (optional)","type":"main","index":0},{"node":"LLM - Image prompt","type":"main","index":0}]]},"Format (optional)":{"main":[[{"node":"Merge","type":"main","index":0}]]},"LLM - Image prompt":{"main":[[{"node":"Freepik (optional)","type":"main","index":0}]]},"Freepik (optional)":{"main":[[{"node":"To Binary","type":"main","index":0}]]},"To Binary":{"main":[[{"node":"Image Info","type":"main","index":0}]]},"Image Info":{"main":[[{"node":"Resize","type":"main","index":0}]]},"Resize":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Set Fields":{"main":[[{"node":"LLM - Rewrite","type":"main","index":0}]]},"LLM - Rewrite":{"main":[[{"node":"Publish on LinkedIn","type":"main","index":0}]]},"Publish on LinkedIn":{"main":[[{"node":"Notion - Set DONE","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"versionId":"v1","meta":{},"id":"linkedin-notion-posting","tags":[]}
