n8n-workflows/rob-linkedin.json
{"name":"Rob Linkedin","nodes":[{"parameters":{"mode":"combine","combinationMode":"mergeByPosition","options":{}},"id":"7130c8dc-a1ca-421e-8021-f5f8f41b2935","name":"Merge","type":"n8n-nodes-base.merge","position":[912,144],"typeVersion":2.1},{"parameters":{"content":"## Start the flow every day at the same time","height":141.4092845296238,"color":4},"id":"094776cf-6b01-4748-aeaf-97b33d3d6ace","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-464,128],"typeVersion":1},{"parameters":{"content":"## Fetch the day's post from my Notion database","height":382.294335406698,"width":367.12018536439575,"color":6},"id":"17ecdf4f-a003-4fc6-8415-f756800c1ab7","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## Process and format the post","height":380.3367219655605,"width":627.4768047417825,"color":6},"id":"cd05c578-01e6-4a88-8d7b-cbf62f46edce","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[432,0],"typeVersion":1},{"parameters":{"rule":{"interval":[{"triggerAtHour":15}]}},"id":"6e7448d8-7159-444f-ae9b-3ebc30a126fa","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-176,144],"typeVersion":1.2},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"2027677d-888a-807b-a4c4-c2496f90a340","mode":"list","cachedResultName":"Content to Work","cachedResultUrl":"https://www.notion.so/2027677d888a807ba4c4c2496f90a340"},"limit":1,"filterType":"manual","matchType":"allFilters","filters":{"conditions":[{"key":"flow_status|multi_select","condition":"contains","multiSelectValue":"START"}]},"options":{}},"id":"1f714385-32f5-41b9-b89b-47b68bc5fa4c","name":"Filter the table for the day's post","type":"n8n-nodes-base.notion","position":[48,144],"typeVersion":2.2,"credentials":{"notionApi":{"id":"ofX4EkXQPA0kGrlC","name":"Notion account Rob"}}},{"parameters":{"resource":"databasePage","operation":"get","pageId":{"__rl":true,"value":"={{ $json.url }}","mode":"url"}},"id":"df5d8ff6-0193-47cc-a27f-c46c6aac37c9","name":"Fetch the content on the page","type":"n8n-nodes-base.notion","position":[240,144],"typeVersion":2.2,"credentials":{"notionApi":{"id":"ofX4EkXQPA0kGrlC","name":"Notion account Rob"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"property_content"}]},"options":{}},"id":"d79f22b2-d34a-497c-97b2-de54e0741ff9","name":"Aggregate the Notion blocks","type":"n8n-nodes-base.aggregate","position":[448,144],"typeVersion":1},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()"},"id":"11346da6-c62c-4137-89a3-638c8f536a7e","name":"Format the post","type":"n8n-nodes-base.code","position":[672,48],"typeVersion":2},{"parameters":{"person":"DpKkqbd2Xr","text":"={{ $json[\"Name\"] }}\n\n{{ $json[\"property_content\"][0] }}\n\n{{ $json[\"Keywords\"] }}","shareMediaCategory":"IMAGE","binaryPropertyName":"=data","additionalFields":{}},"id":"30f7894b-8978-41d9-93fd-b31dfa0d5215","name":"Publish on LinkedIn","type":"n8n-nodes-base.linkedIn","position":[1792,144],"typeVersion":1,"credentials":{"linkedInOAuth2Api":{"id":"fGuShXehDj53piuU","name":"LinkedIn account Rob"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Fetch the content on the page').item.json.id }}","mode":"id"},"propertiesUi":{"propertyValues":[{"key":"flow_status|multi_select","multiSelectValue":["DONE LINKEDIN"]}]},"options":{}},"id":"b0b8bdea-a0c6-4edf-8394-3c8aaf3bf431","name":"Update post status in notion database","type":"n8n-nodes-base.notion","position":[2048,144],"typeVersion":2.2,"credentials":{"notionApi":{"id":"ofX4EkXQPA0kGrlC","name":"Notion account Rob"}}},{"parameters":{"method":"POST","url":"https://api.freepik.com/v1/ai/text-to-image","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-freepik-api-key","value":"=FPSXa9eb34dd3b084b0187c6e604f8563e99"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"prompt","value":"=  {{ $json['text'] }}"},{"name":"num_images","value":"={{ 1 }}"},{"name":"image.size","value":"widescreen_16_9"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[432,608],"id":"5c9f0eac-2320-44f1-b0e2-facf7c62c505","name":"Freepik"},{"parameters":{"operation":"toBinary","sourceProperty":"data[0].base64","options":{"mimeType":"image/webp"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[608,608],"id":"3984d36d-6a4a-41c5-8b2d-5caa525b9509","name":"Base64 para Jpeg"},{"parameters":{"operation":"resize","width":"={{ $json[\"size\"][\"width\"] > 1200 ? 1200 : $json[\"size\"][\"width\"] }}","height":"={{ $json[\"size\"][\"height\"] > 630 ? 630 : $json[\"size\"][\"height\"] }}","resizeOption":"onlyIfLarger","options":{"format":"webp"}},"id":"b751e6d5-58a5-411b-a87b-90fd07dadc47","name":"redimensionar","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[1040,528]},{"parameters":{"operation":"information"},"id":"cab9f0dc-28ce-438e-a5de-02018337baea","name":"Pega informações1","type":"n8n-nodes-base.editImage","typeVersion":1,"position":[752,464]},{"parameters":{"assignments":{"assignments":[{"id":"6255fde6-a260-45b6-bebd-72abc7fd622f","name":"hasImage","value":"=\"{{ !!$binary.data }}\"","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,144],"id":"36edcc6e-da53-465a-a8d5-6866feda266b","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=Read the text below and generate a creative, detailed image prompt in English for an AI image generator.\nAbsolutely do NOT include any text, words, letters, code, commands, terminal windows, or technical instructions in the image.\nFocus only on visually representing the main topics, technologies, and practical examples mentioned, using elements from the DevOps, Linux, and Cloud universe.\nDescribe only the scene, environment, people, objects, colors, and atmosphere.\nIgnore any code blocks, technical instructions, or written content in the text.\n\n> The image must not contain any text, words, or letters.\n\n\nText: {{ $json.property_content[0] }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-80,512],"id":"6b0e1106-de30-41ab-a366-3f01874e3872","name":"Basic LLM Chain"},{"parameters":{"model":"deepseek-r1-distill-llama-70b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[0,752],"id":"92ecfdb4-7c5e-4950-a3b8-5687e6f2a961","name":"Groq Chat Model","credentials":{"groqApi":{"id":"EMlxvb4cX0sHMbNI","name":"Groq N8N"}}},{"parameters":{"promptType":"define","text":"=Rewrite the following text so that it is clean, natural, and ready to be posted on LinkedIn.\n- Only output the final LinkedIn post, with no explanations, thoughts, or reasoning.\n- Do NOT include any <think> tags, meta-commentary, or step-by-step explanations.\n- Remove all code blocks, commands, and technical formatting (such as markdown, HTML, or special characters).\n- Keep only the explanatory, conversational, and informative parts.\n- Make the text engaging and easy to read for a general LinkedIn audience.\n- Do not include any code, command lines, or technical instructions.\n- Use clear language and short paragraphs.\n\nText: {{ $json['property_content'][0] }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[1344,144],"id":"d1992f47-319b-4213-ac5b-22a287e2c182","name":"reescrever artigo"},{"parameters":{"model":"deepseek-r1-distill-llama-70b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1280,368],"id":"7a1ec2b0-71d5-4000-8927-97999d02a4d1","name":"Groq Chat Model1","credentials":{"groqApi":{"id":"EMlxvb4cX0sHMbNI","name":"Groq N8N"}}}],"pinData":{},"connections":{"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Format the post":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Filter the table for the day's post","type":"main","index":0}]]},"Publish on LinkedIn":{"main":[[{"node":"Update post status in notion database","type":"main","index":0}]]},"Aggregate the Notion blocks":{"main":[[{"node":"Format the post","type":"main","index":0},{"node":"Basic LLM Chain","type":"main","index":0}]]},"Fetch the content on the page":{"main":[[{"node":"Aggregate the Notion blocks","type":"main","index":0}]]},"Filter the table for the day's post":{"main":[[{"node":"Fetch the content on the page","type":"main","index":0}]]},"redimensionar":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Freepik":{"main":[[{"node":"Base64 para Jpeg","type":"main","index":0}]]},"Pega informações1":{"main":[[{"node":"redimensionar","type":"main","index":0}]]},"Base64 para Jpeg":{"main":[[{"node":"Pega informações1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"reescrever artigo","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Freepik","type":"main","index":0}]]},"reescrever artigo":{"main":[[{"node":"Publish on LinkedIn","type":"main","index":0}]]},"Groq Chat Model1":{"ai_languageModel":[[{"node":"reescrever artigo","type":"ai_languageModel","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"versionId":"65b9fe88-c79b-4120-b389-0313799cb919","meta":{"instanceId":"bcbca2b03ed1f42b72e139ac2866badaba988e17a0881de762644e5a0949423d"},"id":"9k9X41i74Y7HoAqz","tags":[]}
